<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bcmusic2b.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bcmusic2b.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BCMusic2B</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BCMusic2B</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MusicContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:csis4135.database.windows.net,1433;Initial Catalog=BCMusic2B_db;User ID=clarkeb94@csis4135;Password=ImT2uA16" Name="Data Source=tcp:csis4135.database.windows.net,1433;Initial Catalog=BCMusic2B_db;User Id=clarkeb94@csis4135;Password=ImT2uA16" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Music.Models.MusicContext, Music" MigrationConfiguration="Music.Migrations.Configuration, Music" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Database1Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:csis4135.database.windows.net,1433;Initial Catalog=BCMusic2B_db;User ID=clarkeb94@csis4135;Password=ImT2uA16" Name="Data Source=tcp:csis4135.database.windows.net,1433;Initial Catalog=BCMusic2B_db;User Id=clarkeb94@csis4135;Password=ImT2uA16" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Database1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Database1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:csis4135.database.windows.net,1433;initial catalog=BCMusic2B_db;user id=clarkeb94@csis4135;password=ImT2uA16;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MusicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:csis4135.database.windows.net,1433;Initial Catalog=BCMusic2B_db;User Id=clarkeb94@csis4135;Password=ImT2uA16</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>